# Python Virtual Environment
venv/
env/
.env

# Jupyter and Python Cache
__pycache__/
.ipynb_checkpoints/
*.pyc

# IDEs
.vscode/
.idea/

# Large Model Files and Datasets
*.keras
*.h5
*.hdf5
dataset/
data/
HAM10000/
*.zip

# User specific paths
*.log
